export DRONE_RPC_HOST=drone.ikatoo.com.br
export DRONE_RPC_PROTO=http
export DRONE_RUNNER_CAPACITY=2
export DRONE_RUNNER_NAME=drone-runner

export APP_PORT=8000
export APP_SECRET='***********'
export APP_SECURE_PORT=8443
export BUCKET_NAME=
export DB_DIALECT=mysql
export DB_HOST=campus1-iesi.ddns.net
export DB_NAME=uniesi
export DB_PASS=12345
export DB_PORT=9005
export DB_TIMEZONE=-03:00
export DB_USER=uniesi
export DRONE_AGENTS_ENABLED=true
export DRONE_GITHUB_CLIENT_ID=*****************
export DRONE_GITHUB_CLIENT_SECRET=*****************
export DRONE_RPC_SECRET=*****************
export DRONE_SERVER_HOST=drone.ikatoo.com.br
export DRONE_SERVER_PROTO=http
export DRONE_USER_CREATE=username:youruser,admin:true
export STORAGE_TYPE=local